<div class="row d-flex justify-content-center mt-5">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <h2 class="text-center">New department</h2>
    <div class="card py-3 px-2">
      <%= render "form", department: @department %>
    </div>
  </div>
</div>
