<div class="row mt-4">
  <div class="col-md-3">
    <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link mb-3 p-3 shadow active" id="v-pills-admin-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Cara Penggunaan</button>
      <button class="nav-link mb-3 p-3 shadow" id="v-pills-admin-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Akses Masuk</button>
      <button class="nav-link mb-3 p-3 shadow" id="v-pills-admin-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Kelola Cabang</button>
      <button class="nav-link mb-3 p-3 shadow" id="v-pills-admin-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Kelola Department</button>
      <button class="nav-link mb-3 p-3 shadow" id="v-pills-admin-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Kelola Extensi</button>
    </div>
  </div>
  <div class="col-md-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-admin-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <h4 class="font-italic mb-4">Under Construction</h4>
        <p class="font-italic text-muted mb-2">Under Construction</p>
      </div>
      <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-admin-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Under Construction</div>
      <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-admin-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Under Construction</div>
      <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-admin-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Under Construction</div>
    </div>
  </div>
</div>
