<div class="row">
  <iframe width="768" height="432" src="https://miro.com/app/board/uXjVPs6oY9A=/?frameId=3458764544796767081&embedId=595806628335" frameborder="0" 
        scrolling="no" allow="fullscreen; clipboard-read; 
        clipboard-write" allowfullscreen>
  </iframe>
</div>
