<div class="row justify-content-center">
  <div class="col">
    <%= link_to image_tag("phone_royal.gif", width: "100%"), employees_path(company: '1') %>
    <div class="d-flex justify-content-center">
      <h2>PT Royal Abadi Sejahtera</h2>
    </div>
  </div>
  <div class="col">
    <%= link_to image_tag("phone_ptbm.gif", width: "100%"), employees_path(company: '3') %>
    <div class="d-flex justify-content-center">
      <h2>PT Bestari Mulia</h2>
    </div>
  </div>
  <div class="col">
    <%= link_to image_tag("phone_ptaca.gif", width: "100%"), employees_path(company: '4') %>
    <div class="d-flex justify-content-center">
      <h2>PT Anugerah Cemerlang Abadi</h2>
    </div>
  </div>
</div>
